@import url("./run-button.css");
@import url("./loader.css");

:root {
  --main-bgcolor: #fef7ff;
  --main-fontcolor: #000000;
  --nav-bgcolor: #f3edf7;
  --nav-fontcolor: #1d1b20;
  --nav-hover-bgcolor: #e8def8;
  --nav-active-bgcolor: #6750a4;
  --nav-active-color: #ffffff;
  --nav-active-hover-bgcolor: #8469cb;
  --scan-button-hover-bgcolor: #6750a4;
  --mal-card-bgcolor: #6750a414;
  --mal-card-hover-bgcolor: #e8def8;
  --mem-nav-label-active: #ffcada;
  --mem-nav-label-hover: #ffd8e4;
  --back-button-hover-color: #21005d;
  --back-button-hover: #eaddff;
}

.dark {
  --main-bgcolor: #141218;
  --main-fontcolor: #ffffff;
  --nav-bgcolor: #211f26;
  --nav-fontcolor: #f7f2fa;
  --nav-hover-bgcolor: #4a4458;
  --nav-active-bgcolor: #d0bcff;
  --nav-active-color: #381e72;
  --nav-active-hover-bgcolor: #bea5f8;
  --scan-button-hover-bgcolor: #381e72;
  --mal-card-bgcolor: #1d1b20;
  --mal-card-hover-bgcolor: #4a4458;
  --mem-nav-label-active: #633b48;
  --mem-nav-label-hover: #633b489d;
  --back-button-hover-color: #eaddff;
  --back-button-hover: #4f378b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--main-bgcolor);
  color: var(--main-fontcolor);
}

h1 {
  font-size: 57px;
}

#root {
  height: 100%;
}

.page {
  display: flex;
  height: 100%;
}
/* styles.css */
.navbar {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  background-color: var(--nav-bgcolor);
  padding: 80px 0;
  margin: 1px 2px 0 0;
  z-index: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 10px;
}

.navbar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--nav-fontcolor);
  text-decoration: none;
  margin: 15px 4px;
}

.icon {
  padding: 3px;
}

.navbar a:hover .icon {
  /* color: lightgray; */
  padding: 3px 20px;
  border-radius: 100px;
  background-color: var(--nav-hover-bgcolor);
}

.icon.active {
  padding: 3px 20px;
  border-radius: 100px;
  color: var(--nav-active-color);
  background-color: var(--nav-active-bgcolor);
}

.navbar a:hover .icon.active {
  background-color: var(--nav-active-hover-bgcolor);
}
.label {
  text-align: center;
  font-weight: 550;
  font-size: 13px;
}

.back-button {
  position: absolute;
  top: 2.3%;
  border-radius: 50%;
  padding: 2px 5px;
  display: none;
  cursor: default;
}

.back-button:hover {
  background-color: var(--back-button-hover);
  padding: 2px 5px;
  color: var(--back-button-hover-color);
}

.mode {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 90%;
  background-color: var(--nav-bgcolor);
  border: 1px solid var(--nav-fontcolor);
  color: var(--nav-fontcolor);
  overflow: hidden;
}

.mode:hover .lucide-sun,
.mode:hover .lucide-moon {
  fill: var(--nav-fontcolor);
}

button .lucide {
  transition: transform 0.3s ease;
  animation: moveUp 0.3s ease;
}

@keyframes moveDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.dark button .lucide {
  animation: moveDown 0.3s ease;
}

@keyframes moveUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

#detail {
  position: relative;
  left: 100px;
  width: calc(100% - 100px);
  max-width: 100%;
}

.mal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 0 0 0;
}

.mal-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 69%;
  align-items: center;
}

.card {
  font-size: 18px;
  height: 300px;
  width: 300px;
  border-radius: 12px;
  background-color: var(--mal-card-bgcolor);
  /* M3/Elevation Light/1 */
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background-color 0.4s ease, height 0.2s ease, width 0.2s ease;
}

.card:hover {
  background-color: var(--mal-card-hover-bgcolor);
}

.mal-card {
  flex-direction: column;
  width: 31%;
  height: 360px;
  border-radius: 25px;
  justify-content: start;
}

.mal-card:active {
  border: 1px solid white;
  border-radius: 50px;
}

.card-image {
  width: 100%;
  height: 65%;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.des {
  padding: 24px 26px 24px 24px;
}

.des span {
  font-size: 16px;
  display: block;
  padding: 10px 0 0 0;
}

.transform {
  height: 60px;
  width: 200px;
  box-shadow: none;
  border-radius: 0;
}

.transform:hover {
  transform: scale(1);
  background-color: var(--mal-card-bgcolor);
}

.transform:hover .card-label {
  background-color: var(--mem-nav-label-hover);
}

.transform.card:first-child {
  border-radius: 30px 0 0 30px;
}

.transform.card:last-child {
  border-radius: 0 30px 30px 0;
}
.sis {
  margin: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-nav {
  margin: 50px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.transformed {
  justify-content: center;
  margin: 10px 0 40px 0;
}

.img {
  width: /*100%; */80%;
  height: /*100%; */100%;
}

.card .active {
  background-color: var(--mem-nav-label-active);
}

.card-label {
  transition: background-color 0.3s ease;
  padding: 6px 30px;
  border-radius: 100px;
}

.complete-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.complete-button {
  margin: 35px 0 0 0;
}

.result {
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}

.compromised {
  color: red;
}

.not-compromised {
  color: green;
}

.loader {
  display: none;
}

.pdf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}

#fileForm {
  display: flex;
  justify-content: center;
}

.login h2 {
  font-size: 2em;
  color: #732b66;
}

.inputBx {
  width: 280px;
  font-size: 14px;
}

.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #00fff2;
  border-radius: 48px;
  font-size: 1.2em;
  box-shadow: none;
  outline: none;
}

.ring {
  width: 400px;
  height: 370px;
  display: inline-block;
  margin: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #131235;
  transition: 0.5s;
}

.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}

.ring:hover i {
  border: 2px solid rgb(127, 56, 193);
}

.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.awsui_label-text_1edmh_1v9r3_286 > text:not(#\9) {
  fill: var(--main-fontcolor) !important;
}

.awsui_root_1kjc7_10ylp_111:not(#\9){
  color: var(--main-fontcolor) !important;
}

.awsui_button-trigger_18eso_ombvp_97:not(#\9) {
  background: none !important;
}

.awsui_box_18wu0_14hyh_207.awsui_m-bottom-l_18wu0_14hyh_907:not(#\9) {
  display: none;
}